[Unit]
Description=Start and stop ODS service gracefully on machine boot and shutdown
After=network.target

[Service]
Type=simple
User=openshift
Group=openshift
ExecStart=/usr/local/sbin/startup_ods.sh
ExecStop=/usr/local/sbin/stop_ods.sh

[Install]
WantedBy=default.target