###########
# R-Shiny #
###########
CROWD_RSHINY_REALM_NAME=Shiny Test
CROWD_RSHINY_REALM_USER_B64=rshiny_base64
CROWD_RSHINY_REALM_PW_B64=changeme

##########
# DocGen #
##########
# DocGen service URL (with NAMESPACE placeholder)
DOCGEN_URL=http://docgen.NAMESPACE.svc:8080
