# Provision app setup

# Jira URI - including protocol
JIRA_URI=http://192.168.56.31:8080

# Confluence URI - including protocol
CONFLUENCE_URI=http://192.168.56.31:8090

# Bitbucket URI - inncluding protocol
BITBUCKET_URI=http://192.168.56.31:7990

# Rundeck URI - including protocol
RUNDECK_URI=http://192.168.56.31:4440

# Crowd groups
CROWD_USER_GROUP=bitbucket-users
CROWD_ADMIN_GROUP=bitbucket-administrators

# Default package prefix
PACKAGE_PREFIX=org.opendevstack

# (cookie) domain for atlassian tools - used for crowd
ATLASSIAN_DOMAIN=192.168.56.31

# Crowd password
CROWD_PASSWORD=changeme
JASYPT_PASSWORD=changeme

# Host and credentials for the mailhost
MAIL_HOST=opendevstack.org
MAIL_PASSWORD=changeme
MAIL_USERNAME=provision

# Logging
LOG_LEVEL_ATLASSIAN_CROWD=INFO
LOG_LEVEL_OPENDEVSTACK=INFO

# Jenkins pipeline trigger secret (raw)
PIPELINE_TRIGGER_SECRET=changeme


ENVIRONMENT=test
