######################################################################
# Global configuration for OpenDevStack - all common params are here #
######################################################################

# OpenDevStack image tag. This will be used e.g. to tag images in the 'cd'
# namespace such as jenkins-master, jenkins-slave-base etc.
ODS_IMAGE_TAG=latest
# OpenDevStack source code Git reference. This will be used e.g. to configure
# which Dockerfiles are used to build the images. Use e.g. a branch like "2.x"
# or "3.x" if you want a vanilla install, or a custom branch like "production"
# if you want to modify ODS a lot or want to use this installation of ODS to
# try out contributions to ODS.
ODS_GIT_REF=production

#########
# Nexus #
#########

# Nexus host without protocol
NEXUS_HOST=nexus-cd.192.168.56.101.nip.io

# Nexus URL exposed by the NEXUS route
NEXUS_URL=https://nexus-cd.192.168.56.101.nip.io

# Username and password for Nexus
NEXUS_USERNAME=developer
NEXUS_PASSWORD=changeme
NEXUS_PASSWORD_B64=changeme
# Nexus (basic) authentication username:password
NEXUS_AUTH=developer:changeme


#############
# SonarQube #
#############

# Host without protocol exposed by the SonarQube route
SONARQUBE_HOST=sonarqube-cd.192.168.56.101.nip.io

# SonarQube URL exposed by the SonarQube route
SONARQUBE_URL=https://sonarqube-cd.192.168.56.101.nip.io

# Username of SonarQube administrator
SONAR_ADMIN_USERNAME=admin
# Password of SonarQube administrator - should be set to a secure password
# of your choice.
SONAR_ADMIN_PASSWORD_B64=changeme
# Authentication token used by sonar-scanner-cli from Jenkins pipelines.
# The token has to be created after the installation of SonarQube in the web
# interface.
SONAR_AUTH_TOKEN_B64=changeme

# Application in Crowd used for authentication
SONAR_CROWD_APPLICATION=sonarqube
SONAR_CROWD_PASSWORD_B64=changeme

# Postgres DB for SonarQube
SONAR_DATABASE_JDBC_URL=jdbc:postgresql://sonarqube-postgresql:5432/sonarqube
SONAR_DATABASE_NAME=sonarqube
SONAR_DATABASE_PASSWORD_B64=changeme
SONAR_DATABASE_USER=sonarqube

# SonarQube edition
# See https://www.sonarsource.com/plans-and-pricing/.
# - Use "community" for free edition
# - Use "developer", "enterprise" or "datacenter" for commercial editions
SONAR_EDITION=community
# SonarQube distribution URL (check https://binaries.sonarsource.com/ for options)
SONAR_DISTRIBUTION_URL=https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-7.9.zip
# SonarQube version number (should be aligned with SONAR_DISTRIBUTION_URL)
SONAR_VERSION=7.9

# Toggle authentication via Crowd plugin
SONAR_AUTH_CROWD=true


#########
# Jira #
#########

# JIRA URL
JIRA_URL=http://192.168.56.31:8080


#########
# Crowd #
#########

# Crowd server URL
CROWD_URL=http://192.168.56.31:8095/crowd


###################
# BitBucket / Git #
###################

# BitBucket host (without protocol!)
BITBUCKET_HOST=192.168.56.31:7990

# Git repository base URL
REPO_BASE=http://192.168.56.31:7990/scm

CD_USER_ID=cd_user
CD_USER_ID_B64=cd_user_b64
CD_USER_PWD_B64=changeme_b64


###########
# Jenkins #
###########

# Which agent Dockerfile to use, either .centos7 or .rhel7
JENKINS_AGENT_BASE_IMAGE=Dockerfile.centos7

# Which agent base to use
JENKINS_AGENT_BASE_FROM_IMAGE=openshift/jenkins-slave-base-centos7

# Snyk CLI binary distribution url (leave empty to avoid installing Snyk)
JENKINS_AGENT_BASE_SNYK_DISTRIBUTION_URL=https://github.com/snyk/snyk/releases/download/v1.180.1/snyk-linux


#############
# OpenShift #
#############

# Docker registry host and port
DOCKER_REGISTRY=172.30.1.1:5000

# Openshift application base DNS - used for grabbing the root ca and adding into the slave
APP_DNS=192.168.56.101.nip.io

# Add multiple DNS with different root ca if yo have them
TARGET_HOSTS=

# Openshift API DNS - used to communicate from Rundeck to OCP for provisioning components
OPENSHIFT_API_HOST=https://192.168.56.101:8443

# Host DNS of the OpenShift console to create the right links
OPENSHIFT_CONSOLE_HOST=https://192.168.56.101:8443

# Application domain of OpenShift for routes 
OPENSHIFT_APPS_BASEDOMAIN=.192.168.56.101.nip.io

# Pipeline Trigger Secret (both base64-encoded and raw are required)
PIPELINE_TRIGGER_SECRET_B64=changeme_base64
PIPELINE_TRIGGER_SECRET=changeme

#####################
# Identity Provider #
#####################

# Define the identity provider domain name, if you use self signed certificates. Per default this points to the cluster name.
IDP_DNS=192.168.56.101.nip.io

###########
# Storage #
###########

# Storage class provisioner, for AWS this should be "kubernetes.io/aws-ebs"
STORAGE_PROVISIONER=""

# Storage class for data, for AWS this should be "gp2"
STORAGE_CLASS_DATA=""

# Storage class for backup, for AWS this should be "gp2-encrypted"
STORAGE_CLASS_BACKUP=""
