# Provision app setup
PROV_APP_ENVIRONMENT=test

# Jira URI - including protocol
PROV_APP_JIRA_URI=http://192.168.56.31:8080

# Confluence URI - including protocol
PROV_APP_CONFLUENCE_URI=http://192.168.56.31:8090

# Bitbucket URI - inncluding protocol
PROV_APP_BITBUCKET_URI=http://192.168.56.31:7990

# Crowd URI - inncluding protocol
PROV_APP_CROWD_URI=http://192.168.56.31:8095/crowd

# Crowd groups
PROV_APP_CROWD_USER_GROUP=bitbucket-users
PROV_APP_CROWD_ADMIN_GROUP=bitbucket-administrators

# Default package prefix
PROV_APP_PACKAGE_PREFIX=org.opendevstack

# (cookie) domain for atlassian tools - used for crowd
PROV_APP_ATLASSIAN_DOMAIN=192.168.56.31

# Crowd password
PROV_APP_CROWD_PASSWORD=changeme
PROV_APP_JASYPT_PASSWORD=changeme

# Host and credentials for the mailhost
PROV_APP_MAIL_HOST=opendevstack.org
PROV_APP_MAIL_PASSWORD=changeme
PROV_APP_MAIL_USERNAME=provision

# Logging
PROV_APP_LOG_LEVEL_ATLASSIAN_CROWD=INFO
PROV_APP_LOG_LEVEL_OPENDEVSTACK=INFO

# Jenkins pipeline trigger secret (raw)
PROV_APP_PIPELINE_TRIGGER_SECRET=changeme
