{{- if gt (len .Values.externalServices.bitbucket.instances) 0 }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.fullname" . }}-bitbucket-credentials
  labels:
    {{- include "chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: bitbucket-credentials
type: Opaque
data:
  {{- range $index, $instance := .Values.externalServices.bitbucket.instances }}
  {{- if $instance.bearerToken }}
  BITBUCKET_{{ $instance.name | upper | replace "-" "_" }}_BEARER_TOKEN: {{ $instance.bearerToken | b64enc | quote }}
  {{- end }}
  {{- if $instance.username }}
  BITBUCKET_{{ $instance.name | upper | replace "-" "_" }}_USERNAME: {{ $instance.username | b64enc | quote }}
  {{- end }}
  {{- if $instance.password }}
  BITBUCKET_{{ $instance.name | upper | replace "-" "_" }}_PASSWORD: {{ $instance.password | b64enc | quote }}
  {{- end }}
  {{- end }}
{{- end }}
