.project
.vscode
*.env
/Finished
/Package
/atlcon
/vagrant
/atlassian
/Processing
/=
/Running
.idea
*.box
.vault_pass.txt
/infrastructure-setup/deployment_token.txt
infrastructure-setup/downloads
infrastructure-setup/exports
