.project
.vscode
*.env
/Finished
/Package
/atlcon
/vagrant
/atlassian
/Processing
/=
/Running
.idea
*.box
.vault_pass.txt
test-results.txt
test-report.xml
/infrastructure-setup/deployment_token.txt
ods-core.iml
.DS_Store
