# This attribute enables and controls end-of-line normalization.
# When a text file is normalized, its line endings are converted to LF in the repository.
configuration-sample/ods-core.env text
configuration-sample/ods-core.env.sample text
