.project
.vscode
*.env
/Finished
/Package
/atlcon
/vagrant
/atlassian
/Processing
/=
/Running
.idea
*.box
.vault_pass.txt
/infrastructure-setup/deployment_token.txt
ods-core.iml
.DS_Store
packer_cache
output-vmware-iso
prov-app-config.txt
