OC_PROJECT=cd
REPO_BASE=https://github.com
ADMIN_PASSWORD=changeme
ADMIN_USERNAME=admin
AUTH_TOKEN=changeme
CROWD_APPLICATION=sonarqube
CROWD_PASSWORD=changeme
CROWD_URL=https://192.168.56.31:8095
DATABASE_JDBC_URL=jdbc:postgresql://sonarqube-postgresql:5432/sonarqube
DATABASE_NAME=sonarqube
DATABASE_PASSWORD=changeme
DATABASE_USER=sonarqube
SONARQUBE_HOST=sonarqube-cd.192.168.99.100.nip.io
