# .bashrc
# {{ ansible_managed }}

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
{% if not 'dev' in groups %}
# prompt in red for production
export PS1='\033[1;41m[\u@\h \W]\$ \033[0m '
{% endif %}
