application.name={{application_name}}
application.password={{application_password}}
application.login.url={{application_login_url}}

crowd.base.url={{application_crowd_base_url}}

session.isauthenticated=session.isauthenticated
session.tokenkey=session.tokenkey
session.validationinterval=0
session.lastvalidation=session.lastvalidation
