apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: {{ .Values.global.sonarqubeStorageProvisioner }}
    helm.sh/resource-policy: keep
  finalizers:
  - kubernetes.io/pvc-protection
  labels:
    app: {{ .Values.global.appName }}
  name: {{ .Values.global.appName }}-postgresql-backup
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgresql.pvcDatabaseBackupCapacity }}
  storageClassName: {{ .Values.global.sonarqubeStorageClassData }}
  volumeMode: Filesystem
