<Context docBase="../../crowd-openidserver-webapp">

    <Resource name="jdbc/CrowdIDDS" auth="Container" type="javax.sql.DataSource"
              username="crowdid"
              password="{{ crowdid_database_user_password }}"
              driverClassName="org.postgresql.Driver"
              url="{{ atlassian_crowdid_jdbc_url }}"
              validationQuery="Select 1"
            />

    <!-- NOTE: When a database server reboots or their is a network failure all the connections in the
    * connection pool are broken and normally this requires a Application Server reboot. If you include the
    * parameter validationQuery="{QUERY FOR YOUR DB HERE} as show below a new connection is created to replace it.
    * For more information see http://confluence.atlassian.com/display/JIRA/Surviving+Connection+Closures
    *
    * validationQuery="Select 1"
    -->

    <!-- NOTE: If you use a database other than hsqldb:
    * delete the minEvictableIdleTimeMillis and timeBetweenEvictionRunsMillis attributes
    -->

</Context>
