[
  {
    "Description": "ods base image 20200623 2250",
    "Format": "ova",
    "UserBucket": {
        "S3Bucket": "replaceme",
        "S3Key": "image_upload/20200623/ods_base_image/ods_base_image_20200623.ova"
    }
  }
]
