apiVersion: template.openshift.io/v1
kind: Template
parameters:
- name: ODS_IMAGE_TAG
  description: OpenDevStack image tag to use.
  required: true
- name: OPENSHIFT_APPS_BASEDOMAIN
  required: true
- name: JENKINS_SERVICE_NAME
  value: jenkins
- name: ODS_NAMESPACE
  value: ods
- name: TAILOR_NAMESPACE
  required: true
- name: REPO_BASE
  required: true
- name: DOCKER_REGISTRY
  required: true
- name: PIPELINE_TRIGGER_SECRET_B64
  required: true
- name: ODS_BITBUCKET_PROJECT
  required: true
- name: WEBHOOK_PROXY_CPU_REQUEST
  value: 25m
- name: WEBHOOK_PROXY_CPU_LIMIT
  value: 50m
- name: WEBHOOK_PROXY_MEMORY_REQUEST
  value: 30Mi
- name: WEBHOOK_PROXY_MEMORY_LIMIT
  value: 40Mi
objects:
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      template: ods-jenkins-template
      app: jenkins-webhook-proxy
    name: webhook-proxy
  spec:
    host: webhook-proxy-${TAILOR_NAMESPACE}${OPENSHIFT_APPS_BASEDOMAIN}
    tls:
      insecureEdgeTerminationPolicy: Redirect
      termination: edge
    to:
      kind: Service
      name: webhook-proxy
      weight: 100
    wildcardPolicy: None
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      template: ods-jenkins-template
      app: jenkins-webhook-proxy
    name: webhook-proxy
  spec:
    ports:
    - name: web
      port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: jenkins-webhook-proxy
    sessionAffinity: None
    type: ClusterIP
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    labels:
      template: ods-jenkins-template
      app: jenkins-webhook-proxy
    name: webhook-proxy
  spec:
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      app: jenkins-webhook-proxy
    strategy:
      activeDeadlineSeconds: 21600
      resources: {}
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        labels:
          app: jenkins-webhook-proxy
      spec:
        containers:
        - env:
          - name: REPO_BASE
            value: ${REPO_BASE}
          - name: ALLOWED_EXTERNAL_PROJECTS
            value: ${ODS_BITBUCKET_PROJECT}
          - name: TRIGGER_SECRET
            valueFrom:
              secretKeyRef:
                key: trigger-secret
                name: webhook-proxy
          image: '${DOCKER_REGISTRY}/${ODS_NAMESPACE}/jenkins-webhook-proxy:${ODS_IMAGE_TAG}'
          imagePullPolicy: Always
          name: webhook-proxy
          resources:
            limits:
              cpu: ${WEBHOOK_PROXY_CPU_LIMIT}
              memory: ${WEBHOOK_PROXY_MEMORY_LIMIT}
            requests:
              cpu: ${WEBHOOK_PROXY_CPU_REQUEST}
              memory: ${WEBHOOK_PROXY_MEMORY_REQUEST}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        serviceAccount: '${JENKINS_SERVICE_NAME}'
        serviceAccountName: '${JENKINS_SERVICE_NAME}'
        terminationGracePeriodSeconds: 30
    test: false
    triggers:
    - type: ConfigChange
- apiVersion: v1
  kind: Secret
  metadata:
    name: webhook-proxy
    labels:
      template: ods-jenkins-template
      app: jenkins-webhook-proxy
  type: opaque
  data:
    trigger-secret: ${PIPELINE_TRIGGER_SECRET_B64}
